# Continuation of Exercise 4.6 Tasks

### 3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

### first importing libraries in this new notebook

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [21]:
data_path=r'/Users/Lilian/Downloads/Data Analytics Course/Data Analytics Immersion/Acheivement 4/04-2024 Instacart Basket Analysis/'

In [30]:
df_prods = pd.read_csv(os.path.join(data_path,'02 Data','Prepared Data','products_cleaned_up.csv'),index_col = False)

In [51]:
df_orders_products_combined = pd.read_pickle(os.path.join(data_path,'02 Data','Prepared Data','orders_products_combined.pkl'))

### 4. Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [52]:
df_orders_products_combined.shape

(32434489, 11)

In [53]:
df_prods.shape

(49672, 5)

In [54]:
df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [55]:
df_orders_products_combined.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

### 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [43]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [56]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [60]:
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

## Note to Clinton: I learned that merge function will work if I drop the _merge column from df_orders_products_combined, I assume it's because when a new merge has to happen, pandas wants to create a column with that name, and it gives error if a _merge column already exists, please confirm my finding

In [ ]:
df_merged_all = df_prods.merge(df_orders_products_combined, on = 'product_id', indicator = True)

In [62]:
df_merged_all.shape

(32404859, 15)

In [63]:
df_merged_all.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', '_merge'],
      dtype='object')

In [64]:
df_merged_all.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both

### 6. Confirm the results of the merge using the merge flag.

In [66]:
df_merged_all['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

### 7. Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [67]:
df_merged_all.to_pickle(os.path.join(data_path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))