## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [22]:
data_path=r'/Users/Lilian/Downloads/Data Analytics Course/Data Analytics Immersion/Acheivement 4/04-2024 Instacart Basket Analysis/'

### importing old and new data sets

In [23]:
df_ords = pd.read_csv(os.path.join(data_path, '02 Data', 'prepared Data', 'orders_consistency_checked.csv'), index_col = False)

In [25]:
df_ords_prior= pd.read_csv(os.path.join(data_path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [26]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [27]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### Checking the shape of both data sets

In [28]:
df_ords.shape

(3421083, 7)

In [29]:
df_ords_prior.shape

(32434489, 4)

In [31]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [32]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [34]:
# Using the value_counts() function lets you quickly sum up all the values in the “_merge” column, letting you see instantly whether you have a full match or not.
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# Task

### 2. Export the merged file in pickle format as “orders_products_combined.pkl”.

In [35]:
# Export data to pkl: 
df_merged_large.to_pickle(os.path.join(data_path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))